doctype html
html
  head
    title Suburb Kids - COMING SOON
    meta(charset='utf-8')
    meta(name='description', content='Suburb Kids - Beats, Mix und Mastering aus Berlin')
    meta(name='author', content='Suburb Kids')
    meta(property='og:title', content='')
    meta(property='og:type', content='website')
    meta(property='og:url', content='')
    meta(property='og:image', content='')
    meta(property='og:description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no', )

    link(href='//fonts.googleapis.com/css?family=Roboto:400,300,100,700,900', rel='stylesheet', type='text/css')
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
    link(href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css', rel="stylesheet")
    link(href='//cdnjs.cloudflare.com/ajax/libs/responsive-nav.js/1.0.39/responsive-nav.css', rel='stylesheet')
    link(href='//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.css', rel='stylesheet')

    link(href='//fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')

    style @import url('public/stylesheets/main.css');

    style.
      body {
        visibility: visible!important;
      }

    link(rel='shortcut icon', href='')
  body
    main
      h1 Coming Soon
      img(src='public/images/logo.jpg')
