section#about
  .headline.full.clearfix
    h1 About
      i.glyphicon.glyphicon-education

  .inner.with-headline

    h2 Der Engineer

    p
      | Hallo,<br>
      | mein Name ist <strong>Robert Diekmann</strong>, ich bin 29 Jahre jung, komme aus Berlin und seit gut 5 Jahren betreibe ich jetzt mein Studio in Berlin. Musik ist für mich das Schönste und Aufregendste, was es gibt, egal welche Form oder welchen Klang sie hat.
      br
      | Meine Musikkarriere begann mit 13 Jahren als ich selber als Mcee (Rapper) meine ersten Schritte in der Berliner Hip-Hop Szene getätigt habe.
      br
      | Nach eigenen Projekten und Alben begann ich, neben der Arbeit als Beat Produzent, auch den Weg des Mischers und Mastering Engineers einzuschlagen. Mittlerweile habe ich mit vielen Künstlern zusammen gearbeitet und freue mich immer wieder über neue Gesichter und Kontakte, um zusammen etwas zu erschaffen, das seinesgleichen sucht.
