section#home
  div.full.top
    h1 Deine Musik in den richtigen Händen
    img(src='public/images/main.jpg')

  div.row.six-em-top
    div.col-lg-4
      h3 Recording
      img.three-row(src="/public/images/recording.svg" alt="Recording")
      p
        | Bei uns gibt es professionelle Aufnahmen in Studio Qualität.
    div.col-lg-4
      h3 Mixing
      img.three-row(src="/public/images/mixing.svg" alt="Mixing")
      p
        | Ausgefeilte Mixes entfalten die klangliche Tiefe deiner Songs.
    div.col-lg-4
      h3 Mastering
      img.three-row(src="/public/images/mastering.svg" alt="Matering")
      p
        | Wir machen deine Musik zu einer Presswerk-tauglichen, ernst zu nehmenden Referenz.
