section#home
  div.full.top
    h1 Deine Musik in den richtigen Händen
    img(src='public/images/main.jpg')

  div.row.six-em-top
    div.col-lg-4
      h3 Recording
      img.three-row(src="/public/images/recording.svg" alt="Recording")
      p
        | <strong>Recording</strong> lorem ipsum yop sit amet eltr, sed diam eirmod tempor ut labore.
    div.col-lg-4
      h3 Mixing
      img.three-row(src="/public/images/mixing.svg" alt="Mixing")
      p
        | <strong>Mixing</strong> lorem ipsum yop sit amet eltr, sed diam eirmod tempor ut labore. Yusuf omre accusam et justo.
    div.col-lg-4
      h3 Mastering
      img.three-row(src="/public/images/mastering.svg" alt="Matering")
      p
        | <strong>Mastering</strong> dipe lorem ipsum yop sit amet eltr, sed diam eirmod tempor ut labore at el stet clita.
