section#mail-sent
  .headline.full.clearfix
    h1 Contact me
      i.glyphicon.glyphicon-envelope

  .inner.with-headline
    h1(style='margin-top: 2em') E-Mail erfolgreich verschickt!

    h4 Vielen Dank für deine Kontaktaufnahme. Du wirst in 5 Sekunden auf die Startseite weitergeleitet.
