section#references
  .headline.full.clearfix
    h1 Referenzen
      i.glyphicon.glyphicon-star-empty

  .inner.with-headline

    .images
      .img-wrap
        a(href='public/images/references/RGOBG.jpg')
          img(src='public/images/references/RGOBG.jpg')
      .img-wrap
        a(href='public/images/references/audio_anabolika.jpg')
          img(src='public/images/references/audio_anabolika.jpg')
      .img-wrap
        a(href='public/images/references/deutschrap_ist_classic.jpg')
          img(src='public/images/references/deutschrap_ist_classic.jpg')
      .img-wrap
        a(href='public/images/references/die_allgemeine_oldschoolreife.jpg')
          img(src='public/images/references/die_allgemeine_oldschoolreife.jpg')
      .img-wrap
        a(href='public/images/references/die_passion_whisky.jpg')
          img(src='public/images/references/die_passion_whisky.jpg')
      .img-wrap
        a(href='public/images/references/i_am_johnny.jpg')
          img(src='public/images/references/i_am_johnny.jpg')
      .img-wrap
        a(href='public/images/references/silla_wdwvms.jpg')
          img(src='public/images/references/silla_wdwvms.jpg')
      .img-wrap
        a(href='public/images/references/sinan_boom_friends.jpg')
          img(src='public/images/references/sinan_boom_friends.jpg')
      .img-wrap
        a(href='public/images/references/testo_tape_1.jpg')
          img(src='public/images/references/testo_tape_1.jpg')
      .img-wrap
        a(href='public/images/references/testo_tape_2.jpg')
          img(src='public/images/references/testo_tape_2.jpg')
