section#references
  .headline.full.clearfix
    h1 Referenzen
      i.glyphicon.glyphicon-star-empty

  .inner.with-headline

    .images
      .img-wrap
        a(href='public/images/references/RGOBG.jpg')
          img(src='public/images/references/RGOBG.jpg')
      .img-wrap
        a(href='public/images/references/audio_anabolika.jpg')
          img(src='public/images/references/audio_anabolika.jpg')
      .img-wrap
        a(href='public/images/references/deutschrap_ist_classic.jpg')
          img(src='public/images/references/deutschrap_ist_classic.jpg')
      .img-wrap
        a(href='public/images/references/die_allgemeine_oldschoolreife.jpg')
          img(src='public/images/references/die_allgemeine_oldschoolreife.jpg')
      .img-wrap
        a(href='public/images/references/die_passion_whisky.jpg')
          img(src='public/images/references/die_passion_whisky.jpg')
      .img-wrap
        a(href='public/images/references/i_am_johnny.jpg')
          img(src='public/images/references/i_am_johnny.jpg')
      .img-wrap
        a(href='public/images/references/silla_wdwvms.jpg')
          img(src='public/images/references/silla_wdwvms.jpg')
      .img-wrap
        a(href='public/images/references/sinan_boom_friends.jpg')
          img(src='public/images/references/sinan_boom_friends.jpg')
      .img-wrap
        a(href='public/images/references/testo_tape_1.jpg')
          img(src='public/images/references/testo_tape_1.jpg')
      .img-wrap
        a(href='public/images/references/testo_tape_2.jpg')
          img(src='public/images/references/testo_tape_1.jpg')

    h2 Beat Supports
    p
      | Silla, Mischkonsum, Koron, Kalif, Big Derill Mack,Hirn Herz Hoden, Mehira Cruz, Knightstalker, Remz, RAB, Nekst 86, Vecz, De Seyd, Noize, Koron, Rap am Mittwoch, Whitehead, Kalif, Derill Mack, Basti Becks, Till Ill, David Pino, Ufo 361, Greckoe, NoHopeMusik, Lenny Morris, Jim Tonic

    h2 Recordings
    p
      | Silla, P-Zak, Ufo 361, Blut&Kasse, RAF Camora, MoTrip, JokaMusik, Mischkonsum, Pero, Kalif, Big Derill Mack, Koron, Whitehead, Patricia C., Modafucka (MKM), Makaber (MKM), Knightstalker, Pero, Reatsch, Basti Becks, Mobody Love, David Pino, Nekst86, MS, Drob Dynamik, JerryOne,  Intaktusit, Sumeya, Raptorous, Kozengz, Instinkt

    h2 Mix/Master
    p
      | Silla, Mischkonsum, Pero, Kalif, Big Derill Mack, Koron, Whitehead, Patricia C., Modafucka (MKM), Makaber (MKM), Knightstalker, Pero, Reatsch, Basti Becks, P-Zak, Qazid, Mobody Love, David Pino,1Nheit, Ufo 361, Nekst86, MS; Drob Dynamik, Noyd, Cortez, B-Side; Sinan Boom, Sumeya, Jose A. Brill, Intaktuist, Tight am Mic (Tighty), Cence, Highlife, Der Asiate, Lumaraa, Sane Crazy, Ali Anis, Jim Tonic, Instinkt
