section#services
  .headline.full.clearfix
    h1 Services
      i.glyphicon.glyphicon-wrench

  .inner.with-headline

    h2 Mixing

    p
      | Jeder kennt das Problem: Man hält endlich die Spuren von dem Instrumental, welches man sich gekauft oder selber produziert hat, in den Händen und startet mit dem Mischen seines neuen Songs. Nach einigen Stunden ist man fertig, vergleicht das Ergebnis mit der Musik anderer Künstler und stellt mit Entsetzen fest: Der Song geht total unter. Zu viele Mitten, Überpräsenz in den Höhen, knacken im Bassbereich. Kurzum: Dem Song mangelt es Durchsetzungsvermögen.

    p
      | <strong>Hier kommen wir ins Spiel!</strong> Beim Mischen kommt es auf Know-how an, daher ist es immer sehr empfehlenswert, wenn man jemanden zur Hilfe holt der genau weiß, was er tut und hört. Im Suburb Kids Studio arbeiten wir nicht nur mit modernster Technik, sondern auch in einer speziell angefertigten Abhörumgebung um wirklich jedes Detail deiner Musik so präzise wie möglich bearbeiten zu können. Über mehrere Abhörmonitore können wir guten Gewissens hören, was "Phase" ist. Mit Hilfe ausgesuchter Plug-ins  befördern wir deine Musik in eine neue Klasse. Auf Wunsch (gegen Aufpreis) kann die Mischung auch analog summiert und im gleichen Zuge mit den analogen Geräten (Kompressor, EQ) verfeinert werden.

    p
      | <a href='#contact'>Frage noch heute nach einem Termin.</a>


    h2 Mastering

    p
      | Das Mastering ist unserer Erfahrung nach die meist unterschätzte Angelegenheit in der Prozesskette der Musikproduktion. Erst durch einen professionellen Master erhalten gute Mixes ihren letzten Schliff. Darüber hinaus müssen Songs untereinander klanglich angepasst w erden, und als letzter Schritt wird dann dein Produkt Presswerk-tauglich gemacht. Dies wird erreicht, indem eine digitale Master CD (DDP FILE) erstellt wird, in der sich alle nötigen Informationen über dich und die anderen Künstler auf deiner Platte befinden.

    p
      | <a href='#contact'>Fordere noch heute dein Testmaster an.</a>

    p.small
      | Du sendest uns in digitaler Form alle wichtigen Daten zu und binnen 48 Std. bekommst du dein gratis Testmaster.


    h2 Recording

    p
      | Es gibt nichts Besseres als zusammen und vor allem mit einem weiteren paar Ohren einen Song entstehen zu lassen. Wir im Suburb Kids Studio haben bereits viele Erfahrungen mit der Aufnahme und Verarbeitung von Gesang und Rap gesammelt und können dir jederzeit unter die Arme greifen, um deinen Song optimal umzusetzen.
    p
      | Das Ambiente im Suburb Kids Studio ist professionell und gleichzeitig entspannt, hier kannst du bei gratis W-LAN und Kaffee in aller Ruhe dein Werk vollenden. Wir verwenden die beste Aufnahmetechnik für phänomenale Resultate.

    p
      | <a href='#contact'>Preise auf Anfrage.</a>



    h2 Beats

    p
      | Du schreibst Texte wie ein Verrückter und hast keine Lust mehr auf "Free Beats" zu rappen? Du benötigst zur Untermalung deines Gesangs noch das passende Instrumental? Kein Problem! Das Suburb Kids Team kann dir damit helfen deine Ideen zu verwirklichen. Wir haben zudem auch viele Kontakte zu externen Musikern die sich jederzeit gerne mit dir zusammensetzen, um deine Vorstellungen problemlos in die Tat umzusetzen.

