section#services
  .headline.full.clearfix
    h1 Services
      i.glyphicon.glyphicon-wrench

  .inner.with-headline

    h2 Mixing

    p
      | Du willst deinen neuen Song, deine neue Platte gemischt und/oder gemastert haben? <strong>Kein Problem</strong>!<br>
      Im Suburb Kids Studio wird mit gut ausgewählten Plug-Ins (UAD, Slate Digital, Softube) und analoger Hardware (UAD, Tegeler Audio Manufaktur, SPL, Elysia) gearbeitet.


    h2 Mastering

    p
      | Die Arbeit beginnt mit dem Anlegen der Session in Logic oder Pro Tools und wird dort für den digitalen oder analogen Mix vorbereitet. Sobald der Grundmix steht, verlässt das Material den Computer und wird durch einen hochwertigen, analogen Summierer geführt, der aus allen Spuren eine Stereospur erzeugt. Diese Stereospur durchläuft dann weitere Geräte, die deine Musik weiter aufwerten. Mit Hilfe eines guten AD/DA Wandlers gehen selbstverständlich keinerlei Nuancen der Musik verloren.

    p
      | Natürlich gehören zu einem guten Engineer auch fundiertes Wissen und ein gutes Ohr, welches keine Hardware oder Software der Welt ersetzen kann.


    h2 Recording

    p
      | Im Süden von Berlin (genauer gesagt: Marienfelde) befindet sich das Studio von den Suburb Kids.
      | Hier kannst du vorbei kommen, um zu fairen Preisen und mit hochwertigem Equipment deine neue Platte oder einzelne Songs aufnehmen zu lassen.
      | Sprachaufnahmen, Gesang oder Rap - alles ist machbar.



    h2 Beats

    p
      | Von Oldschool Sample Beats bis zu verzerrtem Synthesizer Dubstep ist alles dabei, was sich ein Künstler wünschen kann.
      | Beats werden je nach Wunsch arrangiert und gemischt bzw. gemastert.
      | Bei Interesse kann gerne eine Auswahl an Beats an dich gesendet werde, <a href="mailto:suburb-kids@gmail.com">schreib einfach eine E-Mail</a> an mich oder besuch mich in meinem Studio.


