@media (max-width: 991px) {
  html body footer a {
    padding: 0 1.5em; } }

@media (max-width: 920px) {
  footer .black {
    padding: 1em;
    height: 8em !important; }
    footer .black a {
      display: block;
      line-height: 2em;
      border: none; }
  body footer, body #push {
    height: 10rem !important; } }

@media (max-width: 901px) {
  html body header ul.navigation li a {
    padding: 0.5em 0.8em; } }

@media (max-width: 801px) {
  html body header .left {
    width: 27%; }
  html body header .right {
    width: 73%; } }

@media (max-width: 767px) {
  html body header .left {
    width: 80%; }
  html body header .right {
    width: 20%; }
  main .full.top h1 {
    font-size: 32px !important;
    padding: 0 !important; }
  #nav-toggle {
    display: block !important; }
  nav ul.mobile-navigation {
    display: block !important; }
  body main {
    padding-top: 0; }
    body main .full.top {
      background-image: url(/public/images/main.jpg);
      background-size: cover;
      height: 56rem; }
      body main .full.top img {
        display: none !important; }
    body main .inner.with-headline {
      padding-top: 0 !important; }
    body main .headline {
      position: relative !important;
      width: auto; }
  body header {
    height: auto !important;
    position: relative; }
    body header .header-inner {
      padding: 2.5em 2em; }
    body header .left {
      width: 70%; }
    body header .right {
      width: 30%; }
    body header ul.navigation {
      display: none !important; } }

* {
  box-sizing: border-box; }

.orange {
  color: #ff715b; }

header {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
  background: #071108;
  color: white;
  font-weight: 900;
  height: 10rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20; }
  header img {
    max-height: 60px; }
    @media (min-width: 768px) and (max-width: 900px) {
      header img {
        display: none; } }
    @media (max-width: 400px) {
      header img {
        display: none; } }
  header .header-inner {
    position: relative;
    padding: 1em 2em;
    height: 100%; }
    header .header-inner > .left h1 {
      vertical-align: middle; }
      @media (max-width: 768px) {
        header .header-inner > .left h1 {
          font-size: 2.1em; } }
    header .header-inner:before {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle; }
    header .header-inner > * {
      display: inline-block;
      vertical-align: middle; }
  header h1 {
    font-weight: 900;
    display: inline-block;
    text-transform: uppercase;
    margin: 0; }
  header ul.navigation {
    margin: 0; }
    header ul.navigation:before {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle; }
    header ul.navigation li {
      display: inline-block;
      vertical-align: middle; }
      header ul.navigation li:last-child a {
        margin-right: -1em; }
      header ul.navigation li a {
        text-transform: uppercase;
        padding: 0.5em 1em;
        font-weight: 300;
        margin: .5em;
        border-color: white; }
        header ul.navigation li a:hover, header ul.navigation li a.active, header ul.navigation li a:focus {
          border-bottom: 1px solid #364652;
          transition: border-color 0.4s ease-in-out; }
  header .right, header .left {
    display: inline-block; }
  header .left {
    width: 30%;
    text-align: left; }
  header .right {
    width: 70%;
    text-align: right; }

header a, footer a {
  color: white;
  text-decoration: none;
  display: inline; }
  header a:hover, header a:active, header a:visited, header a:focus, footer a:hover, footer a:active, footer a:visited, footer a:focus {
    color: white !important;
    text-decoration: none !important; }

li {
  list-style-type: none; }
  li ul {
    display: inline-block; }

hr {
  border-color: #333333;
  border-top: 0;
  margin: 2em;
  width: 75%;
  margin: 2em auto; }

main {
  color: #333333 !important;
  padding: 2em;
  text-align: center; }
  main > p {
    padding: 0 10em; }
  main .full {
    position: relative;
    margin: 0 -2em; }
    main .full.top {
      margin: -2em -2em 0 -2em; }
      main .full.top h1 {
        text-shadow: 0px 0px 5px #000;
        text-transform: uppercase;
        margin: 0;
        color: white;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        letter-spacing: .2em;
        font-size: 48px;
        margin-top: -48px;
        line-height: 1.4em; }
  main .headline {
    padding: 1rem 2em;
    background: #ff715b;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
    position: fixed;
    width: 100%; }
    main .headline i.glyphicon {
      float: right;
      top: 3px; }
    main .headline h1 {
      letter-spacing: .02em;
      margin: .5em 0;
      font-size: 32px;
      font-weight: 300;
      font-variant: small-caps;
      color: white; }
  main img {
    max-width: 100%; }
    main img.three-row {
      max-width: 13rem; }
  main .col-lg-4 {
    padding: 5em; }

main > section {
  display: none;
  margin: 0 auto;
  text-align: left; }
  main > section .inner {
    max-width: 960px;
    margin: 0 auto; }
    main > section .inner.with-headline {
      padding-top: 87px; }
  main > section h2 {
    margin: 1.5em 0 1em;
    border-bottom: 1px dashed #364652;
    display: inline-block;
    padding-bottom: .3em;
    text-transform: uppercase;
    font-weight: 500; }
  main > section p {
    line-height: 2em;
    max-width: 960px;
    margin: 0 auto 1em; }
    main > section p a {
      color: #333333;
      display: inline;
      border-bottom: 1px dashed #333333; }
      main > section p a:hover {
        color: #333333 !important;
        text-decoration: none !important;
        border-bottom: 1px solid #333333; }
    main > section p.small {
      font-size: 75%; }
  main > section.active {
    display: block; }

#home {
  max-width: none;
  text-align: center; }

body {
  visibility: hidden;
  background: white;
  font-family: 'Roboto', sans-serif; }

footer {
  font-family: 'Open Sans';
  text-transform: uppercase; }
  footer a {
    padding: 0 2em;
    border-right: 2px solid white;
    transition: .284s color ease-in; }
    footer a:hover {
      color: #ff715b !important; }
    footer a:last-child {
      border-right: none; }
  footer .grey, footer .black {
    color: white;
    font-weight: 900;
    padding: 0 1em;
    text-align: center;
    letter-spacing: .1em;
    height: 4em; }
  footer .grey {
    background: #333333; }
    footer .grey:before {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle; }
    footer .grey > * {
      display: inline-block;
      vertical-align: middle; }
  footer .black {
    background: #071108; }
    footer .black:before {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle; }
    footer .black > * {
      display: inline-block;
      vertical-align: middle; }

* {
  margin: 0; }

html, body, main {
  height: 100%; }

main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -5rem;
  padding-top: 10rem; }

footer, #push {
  height: 8rem; }

.one-em-top {
  margin-top: 1em; }

.two-em-top {
  margin-top: 2em; }

.three-em-top {
  margin-top: 3em; }

.four-em-top {
  margin-top: 4em; }

.five-em-top {
  margin-top: 5em; }

.six-em-top {
  margin-top: 5em; }

#logo {
  font-size: 64px;
  margin-top: 2em; }

ul.mobile-navigation {
  display: none; }
  ul.mobile-navigation li a {
    width: 100%;
    display: inline-block;
    background: white;
    padding: 1em 2em;
    margin-bottom: 2px;
    color: #333333 !important;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-weight: 500;
    transition: .284s background-color, color ease-in; }
    ul.mobile-navigation li a i.glyphicon {
      float: right;
      top: 3px; }
    ul.mobile-navigation li a:hover, ul.mobile-navigation li a:active {
      background-color: #071108 !important;
      color: #ffffff !important; }
    ul.mobile-navigation li a:focus {
      outline: none; }

#nav-toggle {
  cursor: pointer;
  position: absolute;
  bottom: 68px;
  right: 4.1em;
  display: none; }
  @media (max-width: 400px) {
    #nav-toggle {
      bottom: 54px; } }
  #nav-toggle span {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 2em;
    background: white;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
    #nav-toggle span:before, #nav-toggle span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 2em;
      background: white;
      position: absolute;
      display: block;
      content: ''; }
    #nav-toggle span:before {
      top: 9px; }
    #nav-toggle span:after {
      bottom: 9px; }
    #nav-toggle span:before, #nav-toggle span:after {
      transition: all 300ms ease-in-out; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0; }
    #nav-toggle.active span:before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    #nav-toggle.active span:after {
      -webkit-transform: translateY(-10px) rotate(-45deg);
              transform: translateY(-10px) rotate(-45deg);
      top: 10px; }

#home .full.top h1 {
  padding: 0 2em; }

#references .images {
  margin: 2em 1em; }
  #references .images .img-wrap {
    margin: 2em;
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    text-align: center; }
    #references .images .img-wrap:before {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle; }
    #references .images .img-wrap > * {
      display: inline-block;
      vertical-align: middle; }
    #references .images .img-wrap img {
      max-height: 190px;
      margin: 0 auto; }

.line {
  font-size: 1.2em; }
  .line.strong {
    font-weight: bold; }

#disclaimer h3 {
  margin-top: 46px; }

.form {
  margin-top: 2em; }

label {
  margin: 2em 0 1em;
  font-size: 1.1em; }

input, textarea {
  display: block;
  width: 320px;
  padding: 1em 1em 1em 5px;
  max-width: 100%; }
  input:focus, textarea:focus {
    outline: none; }

textarea {
  resize: none;
  border: 1px dashed; }

input {
  border: 0;
  border-bottom: 1px dashed; }
  input[type="submit"] {
    margin-top: 2em;
    border: 0;
    transition: .1s all ease-in;
    background: #eee; }
    input[type="submit"]:active {
      background: #ccc; }
